@font-face {
    font-family: 'Exocet2';
    src: url('fonts/Exocet2.ttf') format('woff2'),
         url('fonts/Exocet2.ttf') format('woff');
}

body {
    font-family: 'Exocet2', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.menu-container {
    background-image: url(imagenes/FONDOMENU.png);
    max-width: 100%;
    margin: 0 auto;
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
    background-size: cover; /* Ajusta la imagen sin recortar */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    height: 6vw; /* Ajusta la altura según necesites */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido al lado derecho */
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Lo pega completamente arriba */
    left: 0; /* Lo alinea a la izquierda */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.header {
    background-image: url(imagenes/imagen4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    width: 100vw;
}

.menu {
    background: #ffffff00;
    padding: 0.5rem 1rem;
    text-align: center;
    text-shadow: 0 0 15px white;
}

.menu-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* Justifica el contenido del menú al lado derecho */
    gap: 10px;
    width: auto;
}

.menu-items li {
    position: relative;
    white-space: nowrap;
}

.menu-items a {
    color: rgb(251, 255, 0);
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify; /* Justifica el texto */
}

.menu-items a:hover {
    background-color: #34495e49;
    color: #3498db;
    transform: translateY(-2px);
}

.submenu {
    position: relative;
}

.submenu-items {
    display: none;
    position: absolute;
    top: 0;
    right: 100%; /* El submenú se abrirá a la izquierda */
    background: #33333300;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.submenu:hover .submenu-items {
    display: block;
}

.submenu-items li {
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.submenu-items li:last-child {
    border-bottom: none;
}

.submenu-items a {
    padding: 12px 20px;
    width: 100%;
    display: block;
}

.menu-items a.active {
    background-color: #3498db;
    color: rgba(255, 255, 255, 0);
}

.logo {
    background-image: url('imagenes/imagRecurso\ 1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    padding: 50px 55px;
    position: fixed;
    top: 0%;
    left: 5px;
    height: 45px;
    z-index: 1001;
    top: 0;
}

.trabajos{
    background-image: url(imagenes/estamos.jpg);
    background-repeat: no-repeat;
    margin-left: 15%;
    min-height: 100vw;
    display: flex;
    align-items: center;
    width: 100vw;
}
    
    
